@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained-dark.css");
@define-color theme_selected_bg_color #087f5b;
@define-color theme_selected_fg_color #ffffff;
@define-color selected_bg_color #087f5b;
@define-color selected_fg_color #ffffff;
@define-color theme_bg_color #101a17;
@define-color theme_base_color #0b1210;
@define-color theme_fg_color #e4f2ec;
@define-color theme_text_color #e4f2ec;
selection, *:selected { background-color: #087f5b; color: #ffffff; }
button.suggested-action { background-image: none; background-color: #087f5b; color: white; }
progressbar progress, scale highlight { background-color: #10b981; border-color: #10b981; }
switch:checked { background-color: #087f5b; }
