/dist/
/.build/
/cache/
/chroot/
/binary/
/binary.modified_timestamps
/.build*
/*.iso
/*.img
/*.packages
/*.files
/*.contents
/build.log
/config/binary
/config/bootstrap
/config/chroot
/config/common
/config/source
