/dist/
/release/
/diagnostics/
/.build/
/cache/
/chroot/
/binary/
/binary.modified_timestamps
/.build*
/*.iso
/*.img
/*.packages
/*.files
/*.contents
/build.log
/config/binary
/config/bootstrap
/config/chroot
/config/common
/config/source
/config/includes.chroot/opt/nora/llm/
/config/includes.chroot/opt/nora/voice/
/config/includes.chroot/usr/share/nora/music/
__pycache__/
